body {
    font-family: poppins;
}

/* NavBar */
.navbar {
    position: relative;
    z-index: 2;
}
.navbar-brand {
    color: white;
    font-family: Poppins extrabold;
    font-size: 32px;
}

.navbar-brand, .nav-link {
    color: white !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}

.navbar-nav .btn {
    background-color: #8b8b8b;
    border: none;
}

.navbar-nav .tombol {
    background-color: #ff0000;
    border: none;
}

.navbar-nav .dropdown-toggle {
    margin-right: 30px;
}

/* gambar */

.carousel-item {
    height: 270px;
}

.carousel-item .display-4 {
    color:white;
    text-align: center;
    font-weight: 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-size: 30px;
    margin-top: -120px;
}

.carousel-item .display-5 {
    font-family: poppins thin;
    font-style: italic;
    color:whitesmoke;
    text-align: center;
    font-weight: 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-size: 24px;
    margin-top: -170px;
}

.carousel-item .display-6{
    font-family: poppins thin;
    font-style: italic;
    color:whitesmoke;
    text-align: center;
    font-weight: 200px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    font-size: 24px;
    margin-top: -180px;
}

.carousel-item .display-4 span {
    font-weight: 500;
}

.carousel-item .display-5 span {
    font-family: poppins semibold;
    font-weight: 500;
    font-style: normal;
}

.carousel-item .display-6 span {
    font-family: poppins semibold;
    font-weight: 500;
    font-style: normal;
}

.carousel-item::after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.8), rgba(0,0,0,0) );
    position: absolute;
    bottom: 0;
}

/* Isi */

.Workingspace {
    margin-top: 100px;
    text-align: center;
}

.Workingspace h3 {
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 50px;
}

.Workingspace h3 span {
    font-weight: 500;
}

.Workingspace p {
    font-size: 14px;
    color: #5a5858;
    margin-top: 30px;
}

.Workingspace .btn {
    background-color: #f05f40;
    border: none;
}

.Workingspace2 {
    margin-top: 50px;
    text-align: center;
}

.Workingspace2 h3 {
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
    margin-top: 50px;
}

.Workingspace2 h3 span {
    font-weight: 500;
}

.Workingspace2 p {
    font-size: 14px;
    color: #5a5858;
    margin-top: 30px;
}

.Workingspace2 .btn {
    margin-bottom: 30px;
    background-color: #f05f40;
    border: none;
}

.Workingspace3 {
    margin-top: 100px;
    text-align: center;
}

.Workingspace3 h3 {
    font-size: 48px;
    font-weight: 200;
    text-transform: uppercase;
}

.Workingspace3 h3 span {
    font-weight: 500;
}

.Workingspace3 p {
    font-size: 14px;
    color: #5a5858;
    margin-top: 30px;
}

.Workingspace3 .btn {
    margin-bottom: 50px;
    background-color: #f05f40;
    border: none;
}

/* footer */

.footer-bottom {
    background: rgb(34, 34, 34);
    width: 100vw;
    padding: 10px 0;
    text-align: center;
}

.footer-bottom p {
    color:rgb(151, 151, 151);
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
    opacity: 40%;
    margin-top: 10px;
}

/* DESKTOP */
@media (min-width: 992px) {
    .navbar {
        position: fixed;
        text-align: center;
    }

    .navbar-brand, .nav-link {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 100%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .carousel-item {
        height: 650px;
    }
    
    .carousel-item .display-4 {
        color:white;
        text-align: center;
        margin-top: -340px;
        font-weight: 200;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
        font-size: 62px;
    }
     
    .carousel-item .display-4 span {
        font-weight: 500;
    }
    
    .carousel-item .display-5 span {
        font-weight: 500;
        font-style: normal;
    }

    .carousel-item .display-5 {
        font-family: poppins ;
        font-style: italic;
        color:whitesmoke;
        text-align: center;
        margin-top: -320px;
        font-weight: 200;
        font-size: 34px;
    }

    .carousel-item .display-6 span {
        font-weight: 500;
        font-style: normal;
    }

    .carousel-item .display-6 {
        font-family: poppins ;
        font-style: italic;
        color:whitesmoke;
        text-align: center;
        margin-top: -320px;
        font-weight: 200;
        font-size: 34px;
    }
   
    .Workingspace {
        text-align: left;
    }

    .Workingspace p {
        font-size: 20px;
    }

    .Workingspace2 {
        text-align: left;
        margin-left: 100px;
    }

    .Workingspace2 p {
        font-size: 20px;
    }

    .Workingspace3 {
        margin-left: 30px;
        text-align: left;
    }

    .Workingspace3 p {
        font-size: 20px;
    }
}